<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>首页</title>
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/home.css" />
    <link rel="stylesheet" href="../css/swiper.min.css" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
</head>

<body>
    <div class="container">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="../img/banner1.png" alt="" /></div>
                <div class="swiper-slide"><img src="../img/banner1.png" alt="" /></div>
                <div class="swiper-slide"><img src="../img/banner1.png" alt="" /></div>
            </div>
            <div class="swiper-pagination"></div>
            <!--分页器。如果放置在swiper外面，需要自定义样式。-->
        </div>
        <div class="type-title">经营范围</div>
        <div class="home-type-bg">
            <div class="hexagon">
                <img src="../img/hexagon/hexagon1.png">
                <div class="hexagon-other hexagon-other1">
                    <p class="title-second">Hexagonal Sports</p>
                    <p class="title-first">场地设施</p>
                    <img src="../img/hexagon/hexagon2.png" alt="">
                </div>
                <div class="hexagon-other hexagon-other2">
                    <p class="title-second">Fitness Equipment</p>
                    <p class="title-first">健身器材</p>
                    <img src="../img/hexagon/hexagon2.png" alt="">
                </div>
                <div class="hexagon-other hexagon-other3">
                    <p class="title-second">Smart Sports</p>
                    <p class="title-first">智慧体育</p>
                    <img src="../img/hexagon/hexagon4.png" alt="">
                </div>
                <div class="hexagon-other hexagon-other4">
                    <p class="title-second">Event service</p>
                    <p class="title-first">赛事服务</p>
                    <img src="../img/hexagon/hexagon5.png" alt="">
                </div>
                <div class="hexagon-other hexagon-other5">
                    <p class="title-second">Clothing group purchase</p>
                    <p class="title-first">服装团购</p>
                    <img src="../img/hexagon/hexagon6.png" alt="">
                </div>
                <div class="hexagon-other hexagon-other6">
                    <p class="title-second">Sports equipment</p>
                    <p class="title-first">运动装备</p>
                    <img src="../img/hexagon/hexagon7.png" alt="">
                </div>
            </div>
        </div>
        <div class="type-title">实体店面</div>
    </div>
    <script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="../js/pxToRem.js"></script>
    <script src="../js/swiper.min.js"></script>
    <script>
        $(function() {
            const mySwiper = new Swiper('.swiper', {
                pagination: {
                    el: '.swiper-pagination',
                },
            });
        });
    </script>
</body>

</html>
